<div class="container">
  <div class="row">
    <div class="col title">
      <h1>How late can I sleep?</h1>
    </div>
  </div>

  {{#if no_class}}

    <div class="row">
      <div class="col calculation">
        <h2>No classes tomorrow,</h2>
      </div>
    </div>

    <div class="row">
      <div class="col calculation">
        <h2>sleep as late as you like!</h2>
      </div>
    </div>

  {{else if no_location}}

    <div class="row">
      <div class="col calculation">
        <h2>Your {{first_class.start_time}} {{first_class.session_type_str}}: {{first_class.module.name}} has no location,</h2>
      </div>
    </div>

    <div class="row">
      <div class="col calculation">
        <h2>so you'd better not go to sleep!</h2>
      </div>
    </div>

  {{else}}

    <div class="row">
      <div class="col calculation">
        <h2>It takes {{travel_time}} to walk to your {{first_class.start_time}} {{first_class.session_type_str}}:</h2>
      </div>
    </div>

    <div class="row">
      <div class="col calculation">
        <h2>{{first_class.module.name}} at {{first_class.location}},</h2>
      </div>
    </div>

    <div class="row">
      <div class="col calculation">
        <h2>and you need {{extra_time}} mins to get dressed.</h2>
      </div>
    </div>

    <div class="row">
      <div class="col calculation">
        <h2>So you need to wake up at {{wake_time}}!</h2>
      </div>
    </div>
  {{/if}}

  <div class="row">
    <div class="col back">
      <a class="btn btn-outline-secondary" href="/" role="button">Back</a>
    </div>
  </div>

  <div class="row">
    <div class="col logout">
      <a class="btn btn-outline-secondary btn-sm" href="/auth/logout" role="button">Logout</a>
    </div>
  </div>
</div>
